runtime_config/data
runtime_config/models
datasets/cifar_100
datasets/permuted_mnist
datasets/split_image_net
datasets/slowly_changing_regression

results/cifar_100
results/permuted_mnist
results/split_image_net
results/slowly_changing_regression
